<div class="page-header">
  <h2>.</h2>
</div>

<div class="container theme-showcase" role="main">
  <h1>チーム情報の更新</h1>

  <div id="update-team-box">
    <form method="POST" action="/team">
      <div class="form-group">
        <label for="teamName">チーム名(変更不可)</label>
        <input type="text" class="form-control" id="inputTeamName" name="team" value="<%= team %>" size="30" readonly />
      </div>
      <div class="form-group">
        <label for="teamAccount">チームアカウント</label>
        <input type="text" class="form-control" id="inputAccount" name="account" value="<%= account %>" size="30" readonly />
      </div>
      <div class="form-group">
        <label for="inputDestination">ベンチマーク実行先IPアドレス</label>
        <select class="form-control" id="inputDestination" name="destination">
          <option value="">未指定</option>
            <% ipaddrlist.each do |ip| %>
          <option <%= ip == destination ? "selected" : "" %>><%= ip %></option>
            <% end %>
        </select>
      </div>
      <div class="form-group">
        <label for="inputIPAddrs">ホスト情報</label>
        <input type="text" class="form-control" id="inputIPAddrs" name="ipaddrs" value="<%= ipaddrs %>" size="60" readonly />
      </div>
      <button type="submit" class="btn btn-default">更新</button>
    </form>
  </div>
</div>
